.bg-body-tertiary {
    --bs-bg-opacity: 1;
    background-color: transparent !important;
}

nav {
    font-size: 10px;
}

.logoNetflix {
    max-width: 90px;
}

.logoUser {
    max-width: 20px;
    background-color: white;
}

.dropdown-menu {
    font-size: 10px
}

.trending,
.watch,
.releases {
    width: 100%;
    padding: 40px 0;
    position: relative;
}

/* Wrapper con overflow */
.slider-wrapper {
    position: relative;
    overflow: hidden;
}

/* Track che scorre */
.slider-track {
    display: flex;
    gap: 10px;
    transition: transform 1s ease;
    will-change: transform;
}

/* Card stile Netflix */
.card {
    min-width: 200px;
    border-radius: 4px;
    overflow: visible;
    position: relative;
    transition: transform 0.3s ease, z-index 0s;
}

.card img {
    width: 100%;
    border-radius: 4px;
}

/* Zoom in hover */
.card:hover {
    transform: scale(1.5);
    z-index: 10;
}

/* Frecce */
.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(20, 20, 20, 0.8);
    color: white;
    border: none;
    font-size: 10px;
    height: 20px;
    width: 20px;
    cursor: pointer;
    z-index: 20;
}

.arrow.left {
    left: 0;
}

.arrow.right {
    right: 0;
}
